# local artifacts
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.toc
*.lof
*.lot
*.fdb_latexmk
*.fls
*.xdv

# editor
.DS_Store
.idea/
.vscode/


.venv/*
analysis/experiments_baseline_ablation_analysis.ran.ipynb
Scaling_Environments_for_Code_Generation_Agents_A_Production_Framework.pdf
